

// $white=var(--white:white)
// $blue=var(--blue:#012c6d)
// $brown=var(--brown:#fcb90)
// $black=var(--black:black)
// $h2=var(--h2:2em)
// $h3=var(--h3:1.625em)
// $h4=var(--h4:1.1875em)
// $span=var(--span:0.9375em)
// $a=var(--a:0.8125em)
// $p=var(--p:1em)
// $size_container=var(--size_container:1120px)