
$white = @css{var(--white)}
$blue = @css{var(--blue)}
$brown = @css{var(--brown)}
$black = @css{var(--black)}
$h2 = @css{var(--h2)}
$h3 = @css{var(--h3)}
$h4 = @css{var(--h4)}
$span = @css{var(--span)}
$a = @css{var(--a)}
$p = @css{var(--p)}
$size_container = @css{var(--size_container)}

button
    color: $white