.container
    width: $size_container
    margin: 5px auto

.flex
.flex_column   
    {flex1}

.flex_column
    flex-direction: column


{selector("h1, h2, h3, h4, a, span, p, li")}
    font-family: Roboto
    font-size-adjust: 100%

{selector("h1, h2, h3, h4")}
    font-weight: 600
    color: var(--blue)
h1
    font-size: $h4

h2
    font-size 2em
    line-height 32px
    font-size $h2
    
h3
    font-size $h3
    line-height 20.4px
    color:$brown
    a
        font-weight: 600

h4
    font-size $h4
    line-height 19px
    color $blue

ul 
    margin unset;

    li  
        list-style none
        font-weight: 600
a 
    text-decoration none
    color inherit
    font-size: $a

p   
    font-size: $p

.button
    color $white
    background: $brown
    font-family: Roboto 
    padding: 10px 15px
    font-weight: bold
    p 
        font-size: $p
    span 
        font-size: 2.1em

img 
    max-width 100%