{selector("h2, h3, h4")}
    font-family: Roboto
    font-weight: 600
    font-size-adjust: 100%
    color: var(--blue)

h2
    font-size 2em
    line-height 32px
    
h3
    font-size 1.0625em
    line-height 20.4px

h4
    font-size 1.1875em
    line-height 19px

ul 
    margin unset;

    li  
        list-style none
a 
    text-decoration none
    margin unset