* 
    box-sizing: border-box
    
:root
    --white:white;
    --blue:#012c6d;
    --brown:#fcb900;
    --black:black;
    --h2:2em;
    --h3:1.625em;
    --h4:1.1875em;
    --span:0.9375em;
    --a:0.8125em;
    --p:1em;
    --size_container:1120px;

@media screen and (max-width:1022px )
    :root{ --size_container:1000px;}

@media screen and (max-width:768px )
    :root{ --size_container:948px;}

@media screen and (max-width:368px )
    :root{ --size_container:348px; }
