var-all(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

var-some(prop, args)
  -webkit-{prop} args
  {prop} args


content()
    var-some(content, arguments)

transform()
    var-some("transform", arguments)

transform-origin()
    var-some("transform-origin", arguments)

transition()
    var-some("transition", arguments)

radial-gradient()
    var-some("radial-gradient", arguments)

linear-gradient()
    var-some("linear-gradient", arguments)

filter()
    var-some("filter", arguments)

text-fill-color()
    var-some("text-fill-color", arguments)

background-clip()
    var-some("background-clip", arguments)

text-stroke()
    var-some("text-stroke", arguments)

opacity()
    var-some("opacity", arguments)

display()
    var-some("display", arguments)

flex-direction()
    var-some("flex-direction", arguments)

flex-wrap()
    var-some("flex-wrap",arguments)

align-items()
    var-some("align-items",arguments)

justify-content()
    var-some("justify-content",arguments)
    
border-radius()
    var-all('border-radius', arguments)

flex1 = {
    display:flex,
    justify-content:center,
    align-items: stretch
    flex-grow: 1,
    flex-shrink: 1
}