* {
  box-sizing: border-box;
}
:root {
  --white: #fff;
  --blue: #012c6d;
  --brown: #fcb900;
  --black: #000;
  --h2: 2em;
  --h3: 1.625em;
  --h4: 1.1875em;
  --span: 0.8125em;
  --a: 0.8125em;
  --p: 1em;
  --size_container: 1120px;
}
@media screen and (max-width: 1022px) {
  :root {
    --size_container: 1000px;
  }
}
@media screen and (max-width: 768px) {
  :root {
    --size_container: 948px;
  }
}
@media screen and (max-width: 368px) {
  :root {
    --size_container: 348px;
  }
}
.container {
  width: var(--size_container);
  margin: 5px auto;
}
.flex,
.flex_column {
  -webkit-display: flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: stretch;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 1;
}
.flex_column {
  -webkit-flex-direction: column;
  flex-direction: column;
}
h1,
h2,
h3,
h4,
a,
span,
p,
li {
  font-family: Roboto;
  font-size-adjust: 100%;
}
h1,
h2,
h3,
h4 {
  font-weight: 600;
  color: var(--blue);
}
h1 {
  font-size: var(--h4);
}
h2 {
  font-size: 2em;
  line-height: 32px;
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
  line-height: 20.4px;
  color: var(--brown);
}
h3 a {
  font-weight: 600;
}
h4 {
  font-size: var(--h4);
  line-height: 19px;
  color: var(--blue);
}
ul {
  margin: unset;
}
ul li {
  list-style: none;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: inherit;
  font-size: var(--a);
}
p {
  font-size: var(--p);
}
.button {
  color: var(--white);
  background: var(--brown);
  font-family: Roboto;
  padding: 10px 15px;
  font-weight: bold;
}
.button p {
  font-size: var(--p);
}
.button span {
  font-size: 2.1em;
}
img {
  max-width: 100%;
}
div {
  border: 1px solid #000;
}
.hero__block {
  color: #f00;
}
.hero__block * {
  flex-basis: 50%;
}
.hero__left,
.hero__right {
  -webkit-display: flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: stretch;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 1;
}
.hero__left {
  flex-basis: auto;
  flex-grow: 1;
  border: 1px solid #f00;
}
.hero__right {
  border: 1px solid #000;
}
.hero__left__img {
  border: 1px solid #000;
  width: 50%;
}
