.a >.b >.c,
.d {
  color: #f00;
}
.a .b .c,
.a .b .d {
  color: #f00;
}
.a .b__c {
  content: '.a', '& .b', '&__c';
}
body {
  margin: -5px;
}
.test {
  width: 25px;
  height: 50px;
  margin-left: 25px;
  margin-right: 50px;
}
#logo {
  z-index: 20;
  position: absolute;
}
#logo2 {
  position: absolute;
  z-index: 1;
}
.test2 {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
}
button {
  -webkit-border-radius: 1px 2px/3px 4px;
  -moz-border-radius: 1px 2px/3px 4px;
  border-radius: 1px 2px/3px 4px;
}
div {
  -webkit-box-shadow: 2px;
  -moz-box-shadow: 2px;
  box-shadow: 2px;
}
.v {
  color: #f00;
}
/*
Анимации:

@keyframes: @-webkit-keyframes
Трансформации:


::placeholder: ::-webkit-input-placeholder
Заполнение контейнеров:


Авто-префиксеры:
 -moz-property: value;

Вспомогательные инструменты автоматического добавления префиксов могут также добавлять -webkit- в начало стилей, когда это необходимо.
*/
