* {
  box-sizing: border-box;
}
:root {
  --white: #fff;
  --blue: #012c6d;
  --brown: #fcb900;
  --black: #000;
  --h2: 2em;
  --h3: 1.625em;
  --h4: 1.1875em;
  --span: 0.9375em;
  --a: 0.8125em;
  --p: 1em;
  --size_container: 1120px;
}
h2,
h3,
h4 {
  font-family: Roboto;
  font-weight: 600;
  font-size-adjust: 100%;
  color: var(--blue);
}
