/*
.header__text
    text-align: center
.header__block
    border 1px solid #000
    text-align: center
    position relative
    p   
        color:$white

    &:after
        content:''
        width: 100%
        height: 100%
        position absolute
        top 0
        left: 0
        background-repeat: no-repeat
        background-position: bottom 
        background-attachment: fixed;
        background-origin: content-box;
        background-size: 100% 
        background-image: url('dist/img/slide/ГЛАВНАЯ-ЛИНИЯ-ОБОГАЩЕНИЯ-2-scaled.jpg')
        opacity: .8
        z-index: -1


    h4 
        line-height: 0

.header__img
    flex-basis: 100%
    border 1px solid #000
    *
        flex-basis: (100% / 4)
        flex-grow: 1

.header__img__logo
    {flex1}
    align-items: center
    font-size: 2em
    font-family: Roboto
    font-weight: bold
    color $brown


.header__img__phone__block
    {flex1}
    span 
        font-size: 2em
        flex-grow 1
        margin: auto
        text-align: right
        color: $brown
    h3
        text-align: left
        flex-grow 2
        flex-basis: 50%

.header__img__mail
    gap 25px

.mail__block
    {flex1}
   
    span 
        flex-grow 1
        margin: auto
        text-align: center
    p
        text-align: left
        flex-grow 2
        flex-basis: 50%

*/
// div,ul,li
    // border 1px solid white

.header__menu
    background: $blue
    color $white
    padding: 5px 0
    
.menu__list
    justify-content: space-around
    gap 10px

.menu__list__item
    flex-grow: 1
    flex-basis: auto
    border-right:dotted $brown 1px
    text-align: center
    transition: color .5s
    
    &:hover
        color $brown

.my-icon
    font-size: 1.2em
    vertical-align: middle
    font-weight: bold

