div 
    border 1px solid #000

.hero__block
    color red
    *
        flex-basis: (100% /2)
.hero__left
.hero__right
    {flex1}

.hero__left
    // width: 500px
    flex-basis: auto
    flex-grow 1
    border 1px solid red
.hero__right
    border 1px solid #000


.hero__left__img
    border 1px solid #000
    width:(100%/2)
   
